.contact-page-container {
  background-color: #222; /* Dark background */
  border-radius: 0.625rem; /* Rounded corners */
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5); /* Darker shadow */
  padding: 1.05rem;
  max-width: 300px; /* Limit the width of the form */
  margin: 0 auto; /* Center the form */
}

.form-field label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.15rem;
  color: #27377e; /* Cloud White text */
}

.form-field input,
.form-field textarea {
  border: 5px solid #351717; /* Dark border */
  padding: 0.5rem; /* Smaller padding */
  border-radius: 0.9rem; /* Rounded corners */
  background-color: #1b0606; /* Dark background */
  color: #161636; /* Cloud White text */
  width: 60%; 
}

.error {
  margin-top: 0.15rem;
  color: rgba(168, 20, 20, 0.644); /* Error text in red */
}
