.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #121212;
  color: #f8f8ff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #444;
}

.logo-container {
  width: 100px;
  height: auto;
}

.logo {
  max-width: 100%;
  height: auto;
  display: inline;
}

/* Hide broken image icon */
.logo-container img[src=""] {
  display: inline;
}

.logo-container img:not([src]) {
  display: inline;
}

@media (max-width: 768px) {
  .logo-container {
    width: 80px;
  }
}
