<div class="about-us-container p-4">
    <h1 class="text-6xl font-sans font-extrabold text-center mb-6 bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 bg-clip-text text-transparent">
      About SkyLabs Developments
    </h1>
    <p class="mb-2">
      Welcome to SkyLabs Developments! We are a dynamic team dedicated to building scalable and innovative web applications.
    </p>
    <p class="mb-2">
      Our mission is to create solutions that empower businesses and users alike by combining cutting-edge technology with thoughtful design.
    </p>
    <p class="mb-2">
      Welcome to SkyLabs Developments! We are a dynamic team dedicated to building scalable and innovative web applications.
    </p>
    <p class="mb-2">
      Lot's of stuff here to checker out, ya know what I mean dog?
    </p>
    <p class="mb-2">
      You come on down meet us any time unless we sleepn' cause then you're up for double trouble boy
    </p>
  </div>
  